@import '~ant-design-vue/dist/antd.less';
@import './antd-variables.less';
@import './variables.less';
@import './mixin.less';

.t-hidden {
    display: none !important;
}
.t-white {
    color: @text-color-white !important;
}
.t-tips {
    color: @text-color-secondary;
}
.t-italic {
    font-style:italic;
}
.t-link {
    cursor: pointer !important;
    color: @link-color;
}
.t-icon {
    cursor: pointer;
}
.t-bord{
    font-weight: bold;
}
.t-border{
    font-weight: bolder;
}
.t-center{
    text-align: center;
}
.t-right{
    text-align: right;
}
.t-dir-right{
    direction: rtl;
}
.t-btn-gap{
    margin-left: 4px;
    margin-right: 4px;
}
.t-pass, t-true {
    color: green;
}
.t-fail, t-false {
    color: red;
}
.t-skip {
    color: #a9aeb4;
}
.t-status {
    margin-right: 12px;
}
.t-card-toolbar {
    display: flex;
    line-height: 32px;
    .left {
        width: 200px;
    }
    .right {
        flex: 1;
        text-align: center;
    }
}





.opt {
    .space {
        display: inline-block;
        width: 50px;
    }
    .ant-btn {
        margin-left: 12px;
    }
}

.logs {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family:monospace;
}
