# ext
*.dll
*.db
*.exe
*.log
*.out
*.txt
*.yaml
.air.*
*.jpg

# file
latest_log
rbac_model.conf
cmd/server/server

#dir
tmp/
example/tmp/
example/www
logs/
.idea/
/conf/
/testng_*

#IDE
.vscode/

#vim
.vim/
.*.swp
/.scannerwork/
/bin/
/log/
/product1/

/gui/
/ui/report.json

#test
/cmd/test/conf
/cmd/test/log
/cmd/test/screenshot
/cmd/test/cli/product1
/cmd/test/cli/docker
/cmd/test/ui/docker
/cmd/test/ui/log
/cmd/test/demo/ci_test*
/cmd/test/demo/php/conf
/cmd/test/demo/php/log
/cmd/test/demo/php/product1
/cmd/test/ui/allure-results
/cmd/test/cli/allure-results
/cmd/test/ui/demo/ci_test_testng/
/demo/unit/.pytest_cache/
/demo/unit/report/
/.pytest_cache/
/res/res.go

/cmd/server/log
/test/nodejs/test.json

yarn.lock
package-lock.json
node_modules
/test/k6/log/
/test/k6/results/
/test/coverage/allure-results/
/internal/pkg/plugin/zap-plugin
/zap_key
/test/restapi/allure-results/
zentaoatf.exe~
/ztf

test/cli/docker/
cmd/test/restapi/allure-results/
cmd/test/restapi/result.json
cmd/test/restapi/result.zip
