# ext
*.dll
*.db
*.exe
*.log
*.out
*.txt
*.yaml
.air.*
*.jpg

# file
latest_log
rbac_model.conf
cmd/server/server

#dir
tmp/
example/tmp/
example/www
logs/
.idea/
/conf/
/testng_*

#IDE
.vscode/

#vim
.vim/
.*.swp
/.scannerwork/
/bin/
/log/
/product1/

/gui/
/ui/report.json

#test
/test/conf
/test/log
/test/cli/product1
/test/ui/docker
/test/ui/log
/test/demo/ci_test*
test/demo/php/conf
test/demo/php/log
test/demo/php/product1
/test/ui/allure-results
/test/cli/allure-results
test/ui/demo/ci_test_testng/
/demo/unit/.pytest_cache/
/demo/unit/report/
/.pytest_cache/
/res/res.go

/cmd/server/log
/test/nodejs/test.json

yarn.lock
package-lock.json
node_modules
/test/k6/log/
/test/k6/results/
/test/coverage/allure-results/
/internal/pkg/plugin/zap-plugin
/zap_key
